@font-face {
  font-family: "sj";
  src: url("./SutonnyMJ Regular.ttf");
}
@font-face {
  font-family: "sd";
  src: url("SolaimanLipi_20-04-07.ttf");
}

*{
  font-family: "sd",serif;
}

strong{
  font-size: 20px;
  color: #f96161;
  font-weight: bolder;
  
}
